.flexheader{
    display: flex;
    flex-wrap: wrap;
}

.flexcontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center
    
}
    

.flexfooter{
    display: flex;
    justify-content:flex-start;
}


.container{
    justify-content: center
}

body {
   
 background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}