header {
    display: flex
}

main {
    display: flex;
    flex-direction: column
}


.small {
    font-size: 40px;
    font-family: sans-serif;
}


img {
    box-shadow: 5px 5px #666666;
}

.large {
    font-size: 65px;
    font-family: sans-serif;
}

.medium {
    font-size: 20px;
    font-family: sans-serif;
}

.other {
    font-size: 25px;
    font-family: fantasy
}

header nav ul {

    display: flex;
    justify-content: flex-end
}

.snake-gallery img {
    height: 90px;
    box-shadow: 3px 3px #00ff00;
}

@media screen and (max-width: 30rem) {
    header,
    main,
    footer,
    form p
}